
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Muli";
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue:    #007bff !default; // primary
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default; // danger
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default; // warning
$green:   #28a745 !default; // success
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default; // info

$ic_blue: #0299ca;
$ic_indigo: #6574cd;
$ic_purple: #B640A2;
$ic_pink: #f66D9b;
$ic_red: #F64247;
$ic_orange: #f6993f;
$ic_yellow: #FBC413;
$ic_green: #30C77C;
$ic_teal: #4dc0b5;
$ic_cyan: #22CDD7;